<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <div class="container">
        <a href="/dashboard" class="navbar-brand h2 mb-0">JCAVI WEB</a>
        <button class="navbar-toggler" type="submit" data-toggle="collapse" data-target="#navbarSite">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="colapse navbar-collapse" id="navbarSite">

            <ul class="navbar-nav ml-10">
                <li class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Categorias</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item" th:href="@{/categoria/adicionar}">Cadastrar</a>
                        <a href="#" class="dropdown-item" th:href="@{/categoria/listar}">Listar</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav ml-10">
                <li class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Clientes</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item" th:href="@{/cliente/adicionar}">Cadastrar</a>
                        <a href="#" class="dropdown-item" th:href="@{/cliente/listar}">Listar</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav ml-10">
                <li class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Produtos</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item" th:href="@{/produto/adicionar}">Cadastrar</a>
                        <a href="#" class="dropdown-item" th:href="@{/produto/listar}">Listar</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav ml-10">
                <li class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Sistema de Venda</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item" th:href="@{/venda/adicionar}">Venda</a>
                        <a href="#" class="dropdown-item" th:href="@{/venda/listar}">Listar</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Social</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">facebook</a>
                        <a href="#" class="dropdown-item">Twitter</a>
                        <a href="#" class="dropdown-item">Instagram</a>
                        <a href="#" class="dropdown-item">Linkedin</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav ml10">
                <form action="#" th:action="@{/logout}" method="post">
                    <div class="btn btn-primary">
                        <button type="submit" value="Logout">Sair</button>
                    </div>
                </form>
            </ul>
                <span th:inline="text">[[${#httpServletRequest.remoteUser}]]!</span>

                 <form action="" class="form-inline">
                <input type="search" class="form-control ml-4 mr-2" placeholder="Buscar...">
                <button type="submit" class="btn btn-dark">Ok</button>
            </form>
        </div>
    </div>

</nav>

</body>
</html>